.ibexa-automated-translation {
    .modal-body {
        display: flex;
        flex-direction: column;
        padding-bottom: 8.75rem;

        .modal-body-base {
            display: flex;
        }

        .ibexa-automated-translation-services-container {
            padding-top: 15pt;
        }
    }
}
